#ajax-modal.modal.hide.fade{:tabindex => "-1"}
.modal-body
  .modal-body-content
  .ajax-loader
    %h1 Big O - time complexity
    %img{:src=> asset_path('bigO.jpg'), :alt=>"Card image cap", :style=>"max-width:300px;max-height:4000px"}
.modal-footer
  %button.btn{"data-dismiss" => "modal", :type => "button"} Close

