.container
  %h1 Big O - time complexity
  %p How long would it take to get grandma out of the house to the supermarket via car
  %p What about 2 grandma's ?
  %p 3? 4? .....
  %p n grandma's?
  %h3 Tightest description of runtime (Big Theta)
  %img{:src=> asset_path('80.png'), :alt=>"Card image cap", :style=>"max-width:600px;max-height:4000px"}}