#ajax-modal.modal.hide.fade{:tabindex => "-1"}
.modal-body
  .modal-body-content
  .ajax-loader
    %h1 Object Oriented Design
    %p
      %ul
        %li Singleton: Everyone of us is a singleton on this Earth. If I change, it is still I that goes in, and I that comes out.
        %li Factory Method: Create an instance of a class. Create a PRUIS? SIENNA? ETC? of a TOYOTA model

.modal-footer
  %button.btn{"data-dismiss" => "modal", :type => "button"} Close