.modal-header
#ajax-modal.modal.hide.fade{:tabindex => "-1"}
.modal-body
  .modal-body-content.text-md-center
    .well.text-md-center
      %img{:src=> asset_path('sorting.png'), :alt=>"Card image cap", :style=>"max-width:300px;max-height:4000px"}
    - if !@arr["sorted"].nil?
      %button.btn.btn-lg.btn-outline-primary=link_to 'Reset', controller: "welcome", action: "interview_prep"
    - else
      %button.btn.btn-lg.btn-success=link_to 'Sort These Random Numbers', new_algorithm_path(algorithm: 'quickSort', arr: @arr)

    %table.table-bordered{:align=>"center"}
      %tbody
        %tr
        - @arr["vals"].each do |num|
          %td #{num}
      - if !@arr["sorted"].nil?
        %tr
        - @arr["sorted"].each do |num|
          %td #{num}
        %tr
          %td #{@arr["runtime"]}
.modal-footer
  %button.btn{"data-dismiss" => "modal", :type => "button"} Close