.container
  %div#responsive.modal.hide.fade{ :tabindex=>"-1", "data-width"=>"760"}
  %div.modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"} ×
    %h3
      Palindrome Test
  .modal-body
    .row-fluid
      %div.span6
        = render 'interview_prep/bigO'
    %div.modal-footer
    %button.btn{:type=>"button", "data-dismiss"=>"modal"}
    Close
