<h1>New Purchase</h1>

<%= render 'form' %>

<%= link_to 'Back', purchases_path %>

<form action="/file-upload" class="dropzone">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
