.container
  .row
    %div#myDiv
  %hr.row
    %div#graph
  %hr.row
    %div#graph2
    %button{:onclick=> "javascript:randomize();"} Randomize!


:javascript
    var data = [
      {
        x: ['2015-02-01', '2015-02-02', '2015-02-03', '2015-02-04', '2015-02-05',
          '2015-02-06', '2015-02-07', '2015-02-08', '2015-02-09', '2015-02-10',
          '2015-02-11', '2015-02-12', '2015-02-13', '2015-02-14', '2015-02-15',
          '2015-02-16', '2015-02-17', '2015-02-18', '2015-02-19', '2015-02-20',
          '2015-02-21', '2015-02-22', '2015-02-23', '2015-02-24', '2015-02-25',
          '2015-02-26', '2015-02-27', '2015-02-28'],
        y: [-14, -17, -8, -4, -7, -10, -12, -14, -12, -7, -11, -7, -18, -14, -14,
          -16, -13, -7, -8, -14, -8, -3, -9, -9, -4, -13, -9, -6],
        mode: 'line',
        name: 'temperature'
      }
    ];

    var layout = {

      // to highlight the timestamp we use shapes and create a rectangular

      shapes: [
        // 1st highlight during Feb 4 - Feb 6
        {
          type: 'rect',
          // x-reference is assigned to the x-values
          xref: 'x',
          // y-reference is assigned to the plot paper [0,1]
          yref: 'paper',
          x0: '2015-02-04',
          y0: 0,
          x1: '2015-02-06',
          y1: 1,
          fillcolor: '#d3d3d3',
          opacity: 0.2,
          line: {
            width: 0
          }
        },

        // 2nd highlight during Feb 20 - Feb 23

        {
          type: 'rect',
          xref: 'x',
          yref: 'paper',
          x0: '2015-02-20',
          y0: 0,
          x1: '2015-02-22',
          y1: 1,
          fillcolor: '#d3d3d3',
          opacity: 0.2,
          line: {
            width: 0
          }
        }
      ],
      height: 500,
      width: 500
    }

  Plotly.newPlot('myDiv', data, layout);
  Plotly.plot('graph', [{
  x: [1, 2, 3],
  y: [0, 0.5, 1],
  line: {simplify: false},
  }]);

  function randomize() {
    Plotly.animate('graph', {
      data: [{y: [Math.random(), Math.random(), Math.random()]}],
      traces: [0],
      layout: {}
    }, {
      transition: {
        duration: 500,
        ease: 'cubic-in-out'
      }
    })
  }

  var n = 100;
  var x = [], y = [], z = [];
  var dt = 0.015;

  for (i = 0; i < n; i++) {
    x[i] = Math.random() * 2 - 1;
    y[i] = Math.random() * 2 - 1;
    z[i] = 30 + Math.random() * 10;
  }

  Plotly.plot('graph2', [{
    x: x,
    y: z,
    mode: 'markers'
  }], {
    xaxis: {range: [-40, 40]},
    yaxis: {range: [0, 60]}
  })

  function compute () {
    var s = 10, b = 8/3, r = 28;
    var dx, dy, dz;
    var xh, yh, zh;
    for (var i = 0; i < n; i++) {
      dx = s * (y[i] - x[i]);
      dy = x[i] * (r - z[i]) - y[i];
      dz = x[i] * y[i] - b * z[i];

      xh = x[i] + dx * dt * 0.5;
      yh = y[i] + dy * dt * 0.5;
      zh = z[i] + dz * dt * 0.5;

      dx = s * (yh - xh);
      dy = xh * (r - zh) - yh;
      dz = xh * yh - b * zh;

      x[i] += dx * dt;
      y[i] += dy * dt;
      z[i] += dz * dt;
    }
  }

  function update () {
    compute();

    Plotly.animate('graph2', {
      data: [{x: x, y: z}]
    }, {
      transition: {
        duration: 0
      },
      frame: {
        duration: 0,
        redraw: false
      }
    });

    requestAnimationFrame(update);
  }

  requestAnimationFrame(update);