.container
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('10.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('11.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('12.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('13.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('14.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('9.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('16.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('20.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('21.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('22.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('23.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('24.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('26.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('30.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('31.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('32.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('40.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('41.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('42.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('43.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('44.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('45.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('46.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('47.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('48.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
      .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('49.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('50.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('51.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('52.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('53.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('54.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('55.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('56.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('57.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('58.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('59.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('60.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('61.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('62.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('63.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('64.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('65.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('66.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('68.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('69.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('70.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('birf.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('faces.jpg'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('71.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('72.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('73.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('74.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('75.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('76.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('77.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    .alert.alert-info.text-center{:role=> 'alert'}
  .row{:style=> 'padding: 10px;text-align:center;background-color:black'}
    %img{:src=> asset_path('78.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('79.png'), :alt=> 'Card image cap',:style=> 'max-width:200px;max-height:280px'}
