.jumbotron.text-center
  .container
    %a.lang-logo{:href=> "/"}
      %img{:src=>asset_path('lang-logo.png')}
    %h1 Creative expression, learning, data, connection
    %button.btn.btn-lg.btn-default=link_to('Gallery',:controller => :welcome, :action => :gallery)
    %button.btn.btn-lg.btn-primary=link_to('DataViz',:controller => :welcome, :action => :dataviz)
.container
  .row{:style=> "padding: 10px;text-align:center;background-color:black"}
    %img{:src=> asset_path('hao1.jpg'), :alt=>"Card image cap", :style=>"max-width:200px;max-height:280px"}
    %img{:src=> asset_path('hao2.jpg'), :alt=>"Card image cap", :style=>"max-width:200px;max-height:280px"}
    %img{:src=>asset_path('hao3.jpg'), :alt=>"Card image cap", :style=>"max-width:200px;max-height:280px"}
    %img{:src=>asset_path('hao4.jpg'), :alt=>"Card image cap", :style=>"max-width:200px;max-height:280px"}
    %img{:src=>asset_path('hao5.jpg'), :alt=>"Card image cap", :style=>"max-width:200px;max-height:280px"}
    %hr
  .row{:style=> "padding: 10px;text-align:center;background-color:black"}
    %div#graph
  .row{:style=>"padding: 10px;text-align:center;background-color:black;"}
    %img{:src=> asset_path('1.jpg'), :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('3.jpg'), :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('4.jpg') , :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('7.jpg') , :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('8.jpg') , :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}



:javascript
  window.onload = randomize;
  Plotly.plot('graph', [{
  x: [1, 2, 3],
  y: [0, 0.5, 1],
  line: {simplify: false},
  }]);

  function randomize() {
    Plotly.animate('graph', {
      data: [{y: [Math.random(), Math.random(), Math.random()]}],
      traces: [0],
      layout: {}
    }, {
      transition: {
        duration: 500,
        ease: 'cubic-in-out'
      }
    })
    randomize();
  }
