.jumbotron.text-center
  .container
    %a.lang-logo{:href=> "/"}
      %img{:src=>asset_path('lang-logo.png')}
    %h1 Creative expression, learning, data, connection
    %button.btn.btn-lg.btn-default=link_to('Gallery',:controller => :welcome, :action => :gallery)
    %div.btn-group
      %button.btn.btn-primary.dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown'}
        Bball Stats
      %ul.dropdown-menu{role: "menu"}
        %li= link_to('WAC',:controller => :welcome, :action => :dataviz, :conference => 'WAC')
        %li= link_to('Big West',:controller => :welcome, :action => :dataviz, :conference => 'BW')
    %button.btn.btn-lg.btn-primary=link_to('github chall',:controller => :archives, :action => :index)
    %button.btn.btn-lg.btn-default=link_to('Coding Interview Prep',:controller => :welcome, :action => :interview_prep)
.container
  .row{:style=> "padding: 10px;text-align:center;background-color:black"}
    %img{:src=>asset_path('mona.jpg'), :alt=>"Card image cap", :style=>"max-width:300px;max-height:280px"}
    %img{:src=>asset_path('monaLJ.png'), :alt=>"Card image cap", :style=>"max-width:400px;max-height:280px"}
    %img{:src=>asset_path('monaPix.jpg'), :alt=>"Card image cap", :style=>"max-width:300px;max-height:280px"}
    %hr
  .row{:style=> "padding: 10px;text-align:center;background-color:black"}
    %div#graph2
  .row{:style=>"padding: 10px;text-align:center;background-color:black;"}
    %img{:src=> asset_path('1.jpg'), :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('3.jpg'), :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('4.jpg') , :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('7.jpg') , :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}
    %img{:src=> asset_path('8.jpg') , :alt=>"Card image cap", :style=>'max-width:200px;max-height:280px'}

:javascript
  var n = 100;
  var x = [], y = [], z = [];
  var dt = 0.015;

  for (i = 0; i < n; i++) {
    x[i] = Math.random() * 2 - 1;
    y[i] = Math.random() * 2 - 1;
    z[i] = 30 + Math.random() * 10;
  }

  Plotly.plot('graph2', [{
    x: x,
    y: z,
    mode: 'markers'
  }], {
    xaxis: {range: [-40, 40]},
    yaxis: {range: [0, 60]}
  })

  function compute () {
    var s = 10, b = 8/3, r = 28;
    var dx, dy, dz;
    var xh, yh, zh;
    for (var i = 0; i < n; i++) {
      dx = s * (y[i] - x[i]);
      dy = x[i] * (r - z[i]) - y[i];
      dz = x[i] * y[i] - b * z[i];

      xh = x[i] + dx * dt * 0.5;
      yh = y[i] + dy * dt * 0.5;
      zh = z[i] + dz * dt * 0.5;

      dx = s * (yh - xh);
      dy = xh * (r - zh) - yh;
      dz = xh * yh - b * zh;

      x[i] += dx * dt;
      y[i] += dy * dt;
      z[i] += dz * dt;
    }
  }
    function update () {
    compute();

    Plotly.animate('graph2', {
      data: [{x: x, y: z}]
    }, {
      transition: {
        duration: 0
      },
      frame: {
        duration: 0,
        redraw: false
      }
    });

    requestAnimationFrame(update);
  }

  requestAnimationFrame(update);
