<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>I want to know what makes you cry <%= @participation.user.name %></p>
<p>
  But also want to know if you're coming to bball this Sunday
  RSVP here: <a href="https://murmuring-island-68516.herokuapp.com/">RSVP at this link leora made</a>
  --------------------------
</p>

</body>
</html>